  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About Me</h6>
          <p class="text-justify">
            An Intermediate Software Developer with the background in electronics and communications engineering obsessed with backend/full stack role driving the code which constitutes the business logic and serves the purpose of communicating between the database and the web browser. Logical and creative thinker with a passion for out-of-the-box solutions. A strict follower of DRY principle and obsessed with refactoring code. Enjoys learning new frameworks, and technologies in general. Currently, I am developing solutions for the Capital Market risk IT team at Royal Bank of Canada. For me Coding = Curiosity + Passion.
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="https://www.bmo.com/main/personal">Privacy</a></li>
            <li><a href="https://www.bmo.com/main/personal">Email</a></li>
            <li><a href="https://www.bmo.com/main/personal">Phone</a></li>
            <li><a href="https://www.bmo.com/main/personal">Book an Appoinment</a></li>
            <li><a href="https://www.bmo.com/main/personal">Find a Branch</a></li>
            <li><a href="https://www.bmo.com/main/personal">Report Lost</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="https://www.bmo.com/main/personal">About Us</a></li>
            <li><a href="https://www.bmo.com/main/personal">Contact Us</a></li>
            <li><a href="https://www.bmo.com/main/personal">Careers</a></li>
            <li><a href="https://www.bmo.com/main/personal">Investors</a></li>
            <li><a href="https://www.bmo.com/main/personal">Support</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2019
          </p>
        </div>
      </div>
    </div>
</footer>